.modal-dialog.modal-xg{
    max-width: 80%;
}

#calendario td{
    width: 14.285%;
}
#calendario td.data{
    line-height: 4rem;
    font-weight: 600;
}
#calendario td.data:hover{
    background-color: #f2f2f2;
}

#tabelaDia{
    height: 60vh !important;
    overflow-Y: scroll;
    overflow-x: hidden;
}