.div-cliente{
width: 100%;
	max-width: 300px;
	margin: auto;
	border:1px solid #333;
	border-radius: 2px;
	padding-left: 5px;
	position: absolute;
	z-index: 4;
	overflow: auto;
	display: none;
	background-color: #fff;
	height: 140px
	 
}
 


.div-cliente-banco:hover{

	background-color: #333;
	color: #fff;
	cursor: pointer;
	padding: 4px;
    


}

.modal{


	overflow: auto;
}



